<!-- Displaying the recipe title, image, ingredients, and instructions -->
<div class="container">
    <h1>{{recipe.title}}</h1>
    <link rel="stylesheet" href="public/css/RecipeStyle.css">
    <img src="{{recipe.image}}" alt="{{recipe.title}}" />
    <h2>Ingredients</h2>
    <ul>
        {{#each recipe.extendedIngredients}}
            <li>{{this.original}}</li>
        {{/each}}
    </ul>
    <h2>Instructions</h2>
    <ol>
        {{#each recipe.analyzedInstructions.[0].steps}}
            <li>{{this.step}}</li>
        {{/each}}
    </ol>
</div>